<header>
    <div class="header-wrapper">
       <a href=""><img  id="logo" src="assets/img/popcorn.svg" alt="logo-black"></a>
       <ul>
          <li><a href="#!/movies" style="text-decoration:none">moji filmovi</a></li>
          <li><a href="#!/search" style="text-decoration:none">pretraži filmove</a></li>
          <li></li>
          <button class="button-logout" ng-click="Logout()">odjava</button>                                                                         
       </ul>
    </div>
 </header>

    <!-- <div class="naslovi">
            <h3>Najpopularniji filmovi</h3>
    </div>
    <div>
            <select name="" id="">
                        <option value="naziv">Naziv</option>
                        <option value="ocjena">Ocjena</option>
            </select>

    </div>
    <br>
    <div class="row" ng-init="LoadMovies()">
       <div class="col-xs-6 filmovi"  ng-repeat="film in filmovi">
          <div class="card">
             <div data-title="ime-filma" ng-model="title" class="card-header id">
                <h5>{{film.Title}}</h5>
             </div>
             <div ng-model="poster" class="card-body"><img ng-src="http://image.tmdb.org/t/p/w185{{film.Poster}}"></div>
             <br>
             <div ng-model="rating" class="card-footer">Rating: {{film.Rating}}<br>
                <divclass="card-footer">Unesi ocjenu:<input type="number" ng-model="film.UserRating"></div>
                <button class="btn btn-primary btn-sm" ng-click="addMovie(film)">Dodaj</button>
             </div>
          </div>
       </div>
    </div>
 </div> -->

 
<div class="container">
        <div class="row flex-column-reverse flex-md-row" ng-init="LoadMovies()">
            <div class="col-md-4" ng-repeat="film in filmovi">
                <div class="card">   
                   <div ng-model="poster" class="card-header">
                      <img class="card-img" ng-src="http://image.tmdb.org/t/p/w500{{film.Poster}}" alt="Card image">
                   </div>  
                   <div class="card-body">
                      <h2 class="card-title" ng-model="title">{{film.Title}}</h2>
                      <div class="container">
                         <div class="row">
                            <div>
                               <p ng-model="rating">Ocjena: {{film.Rating}}/10</p>
                               <p>Vaša ocjena:  <select ng-model="film.UserRating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                </select></p>
                               <button ng-disabled="!film.UserRating || film.UserRating ==0" class="btn btnAdd" ng-click="addMovie(film)">Dodaj</button>
                            </div>
                         </div>
                      </div>      
                   </div>
                </div>
            </div>
        </div>
    </div> 


    <!-- <input type="number" maxlength="10" class="user_rating" ng-model="film.UserRating" required> -->