<header>
        <div class="header-wrapper">                                                               
        </div>
    </header>
    


<section class="login">
		<div class="container">
			<div class="row justify-content-md-center">
				<div>
					<div class="brand">
						<img src="">
					</div>
					<div action="" method="POST">
						<div>
							<h4 class="card-title">Login</h4>
							<form method="POST" role="form"  action="">							 
									<div class="form-group">
											<input class="form-control" placeholder="Korisničko ime" type="text" ng-model="username" required>
										</div>
										<div class="form-group">
												<input class="form-control" placeholder="Lozinka" type="password" ng-model="password" required>
											</div>
								<div class="form-group no-margin">
									<button type="button" class="btnLogin" ng-click="Login()">
										Login
									</button>
								</div>
								<div class="margin-top20 text-center">
									Niste registrirani? <a href="#!/register">Registracija</a>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>