<header>
        <div class="header-wrapper">
            <a href=""><img  id="logo" src="assets/img/film-viewer.svg" alt="logo-black"></a>
            <ul>
                <li><a href="" style="text-decoration:none">Login</a></li>
                <li><a href="" style="text-decoration:none">My movies</a></li>
                <button class="button-blue">Logout</button>                                                                         
            </ul>                                                                   
        </div>
    </header>
    
    